
.sidebar {
    min-width: 190px;
    padding: 20px;
    background: #f4f4f4;
    border-right: 2px solid #ddd;
    text-align: left;
    height: 100vh;
  }
  
  .sidebar h2 {
    font-size: 16px;
    text-align: left;
    margin-bottom: 25px;
    margin-top: 50px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: rgb(62, 7, 7);
    font-size: 16px;
    font-weight: 600;
    display: block;
    padding: 11px;
    border-radius: 5px;
    transition: background 0.3s;
    font-size: 14px;
  }
  
  .sidebar ul li a:hover {
    color: #5e3434;
  }
  
.sidebar ul li .active-link {
    background-color: #1abc9c;
    font-weight: bold;
  }