.inventory-details {
    width: 93%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.inventory-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.inventory-details-title{
    text-align: left;
}

.inventory-details-header h1 {
    margin-top: 5px;
    font-size: 30px;

}

.inventory-details-controls {
    display: flex;
    gap: 5px;
}

.inventory-details-controls .delete-btn:hover {
    background: #d32323;
    color: white;
    transition: ease-in-out 0.3s;
    border: #d32323 solid 2px;
}

.inventory-details-controls .edit-btn:hover {
    background: #935ca0;
    color: white;
    transition: ease-in-out 0.3s;
    border: #935ca0 solid 2px;
}

.inventory-details-controls button {
    font-weight: bold;
    background: none;
    color: #634e4b;
    border: #634e4b solid 2px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 3px;
}

.inventory-details-controls button:hover {
    background: #3a2a27;
    color: white;
}

.inventory-details .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inventory-details .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.inventory-details .modal-actions {
    display: flex;
    justify-content: space-between;
}

.inventory-details .cancel-btn {
    background: #E0E0E0;
    color: #333;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.inventory-details .confirm-btn {
    background: #682fd3;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.inventory-details .cancel-btn:hover {
    background: #ccc;
}

.inventory-details .confirm-btn:hover {
    background: #761cb7;
}


.inventory-details .product-preview {
    width: 300px;
    height: auto;
    margin-top: 10px;
    
}

.inventory-details-product-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    box-shadow: 0 2px 8px #0000000d;
    padding: 20px;
}

.inventory-details-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.inventory-details-info{
    margin-left: 10px;
    text-align: left;
}

.inventory-details-name, .inventory-details-name input{
    font-size: 25px;
    font-weight: bold; 
}

.inventory-details-name p{
    margin: 0;
    color: #333;
}

.inventory-details-name input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inventory-details-value{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    
}

.inventory-details-price{
    font-size: 16px;
    margin: 15px;
    color: #666;
}

.inventory-details-category{
    font-size: 16px;
    margin: 15px;
    color: #666;
}

.inventory-details-category span{
    font-weight: 600;
    color: #d32323;
}

.inventory-details-category select{
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inventory-details-description {
    font-size: 16px;
    margin: 25px 15px 15px 15px;
    color: #666;
}

.inventory-details-description p{
    word-break: break-all;
    max-width: 1000px;
    margin: 0;
    color: #333;
    background: #f9f6f6;
    box-shadow: #c6c4c4 0px 0px 1px 0px;
    padding: 10px;
    border-radius: 5px;
}

.inventory-details-description textarea {
    width: 700px;
    height: 100px;
    resize: vertical;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inventory-details-status{
    font-size: 16px;
    margin: 15px;
    color: #666;
}

.inventory-details-status .StatusLabel {
    margin-left: 10px;
}

.variant-list {
    margin-top: 20px;
    text-align: left;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    background: white;
    box-shadow: 0 2px 8px #0000000d;
}

.variant-list table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 100px;
    
}

.variant-list th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.variant-list th {
    padding: 15px 10px;
    border-left: none;
    border-right: none;
    text-align: center;
    font-weight: 600;
    color: #8a8a8a;
    background: #f1efef;
    border-bottom: #f75252 solid 1.5px;
}

.variant-list td {
    border-left: none;
    border-right: none;
    border-bottom: #f75252 solid 1px;
    padding: 18px 18px; 
    max-width: 200px;
}

.inventory-container .indexes{
    font-weight: 600;
    width: 20px;
}

.variant-list .indexes{
    font-weight: 600;
    width: 20px;
}

.variant-list .variant-name {
    text-align: left;
    min-width: 300px;
    font-weight: 600;
}

.variant-list .variant-name input {
    width: 100%;
}

.variant-name input{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    margin: 5px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.variant-price input{
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.variant-list .variant-price{
    min-width: 100px;
    border-right: #55f752 dashed 2px;
}

.variant-list .variant-price p{
    display: inline-block;
    margin-right: 5px;
}

.variant-list .total-variant-label {
    color: #d32323;
    text-align: right;
    border-right: #55f752 dashed 2px;
}

.variant-list .total-variant {
    background: #31dd2128;
}

.inventory-details-request-guide {
    margin: 20px;
}


.request-guide-input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.request-guide-buttons {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.request-guide-buttons button {
    padding: 5px 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s, color 0.2s;
    background: none;
    color: #000000;
    border: #000000 solid 2px;
}

.request-guide-buttons button:hover {
    background: #4e4e4e;
    color: #ffffff;
}

.recommended-request{
    font-size: 11.5px;
}