.models-page{
    background-color: #1b251d;
    min-height: 100vh;
  }
  
  .models-page h2{
    color: #f4f4f4;
    text-align: center;
    margin-top: 20px;
  }
  
  .models-container {
    text-align: center;
    padding: 20px;
    
  }
  
  .models-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .model-card {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(244, 244, 244);
    background: #374b3b;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .model-card:hover {
    transform: scale(1.05);
  }
  
  .model-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .model-card h3 {
    margin-top: 10px;
  }
  
  /* Styles for the modal */
  .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  }
  
  .modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
  }
  
  .modal-content form div {
  margin-bottom: 15px;
  }
  
  .models-page button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  }
  
  .models-page button:hover {
  background-color: #45a049;
  }
  
  .models-page .success-message {
  color: green;
  }
  
  .models-page .error-message {
  color: red;
  }
  