
.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 8px;
  }
  
  .tooltip-icon {
    display: flex;
    color: #fff;
    background-color: #0f0707;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 220px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the icon */
    left: 50%;
    margin-left: -110px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  
  